---
title: "Multibody simulation for exoskeleton"
description: "Project: Multibody simulation"
pubDate: "Sep 27 2023"
heroImage: "/multibody.PNG"
---

<BaseLayout title="Projects | VEX Robotics Competition" sideBarActiveItemID="project_VEX">

<div class="text-3xl font-bold mb-4">Project One</div>

<div class="flex flex-wrap mb-4">
  <div class="w-full md:w-1/2 md:pr-4">
    <p>
      Some text about the project goes here. You can provide a detailed description of the project's goals, challenges, and outcomes.
    </p>
  </div>
  <div class="w-full md:w-1/2">
    <img src="/path/to/your/project-image.jpg" alt="Project One Image" />
  </div>
</div>

<div class="mb-4">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/iM_hKtbpbHA?si=iWOKQnnTotmlI6D6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

