---
title: "TUM DASH"
description: "Project: DASH"
pubDate: "Sep 27 2023"
heroImage: "/full_rendered1.png"
---

<BaseLayout title="Projects | TUM DASH" sideBarActiveItemID="project_dash">

  <div class="text-3xl font-bold mb-4">DASH Exoskeleton Student Team</div>
  <div class="text-xl font-bold text-gray-700 mb-2">The objectives</div>

  <div class="w-full" style="margin-top: 0px; text-align: justify;">
    
    <p>
      Exoskeletons, or wearable robots, have gained popularity in recent years due to the rising awareness 
      for people suffering from paraplegia and the growing demand for rehabilitative devices. In November 2021, I co-founded the 
      DASH exoskeleton student team at the Technical University of Munich with the objective of developing a lower-limb 
      exoskeleton to assist fully paraplegic individuals in standing up and walking again, extending their ability 
      to participate socially. 
      
    <div class="w-full" style="margin-top: 20px;">
    <div class="flex justify-between">
      <img src="/project_dash1.jpg" alt="Image 2" style="max-width: 49%; height: 100%; object-fit: cover;" />
      <img src="/project_dash2.PNG" alt="Image 2" style="max-width: 49%; height: 100%; object-fit: cover;" />
    </div>

    <div class="w-full" style="text-align: right;">
      <p style="font-style: italic;"> Photo credit: TUM DASH/Luca Fäth and Duygu Topaloğlu</p></br>
    </div>

  <div class="text-xl font-bold text-gray-700 mb-2">CYBATHLON exoskeleton competition</div>

      Our immediate goal is to participate in the CYBATHLON 2024 competition, an event 
      organized by ETH Zurich, where individuals with physical disabilities utilize advanced technical aids, including 
      powered prostheses, wheelchairs, and exoskeletons. In the exoskeleton category of the competition, fully 
      paraplegic pilots wearing our exoskeleton will be required to perform everyday tasks, such as climbing stairs, 
      traversing obstacles, and navigating complex terrains. The following photos show the setup of the exoskeleton category of the competition. </br></br>

    <div class="flex justify-between">
      <img src="/1600px_COLOURBOX35366557.jpg" alt="Image 2" style="max-width: 49%; height: auto;" />
      <img src="/1600px_COLOURBOX35366807.jpg" alt="Image 2" style="max-width: 49%; height: auto;" />
    </div>

    <div class="w-full" style="text-align: right;">
      <p style="font-style: italic;"> Photo credit: ETH Zürich/Alessandro Della Bella </p></br>
    </div>

  <div class="text-xl font-bold text-gray-700 mb-2">First prototype design concept</div>

  <div class="w-full" style="margin-top: 20px; text-align: justify;">
    <p>
      At present, our project has progressed to the stage where we have designed a drive test setup to assess the functionality of our self-developed 
      cycloidal drives, motors, and initial control algorithms. We have also created a preliminary prototype of the exoskeleton using additive manufacturing 
      methods to ensure the proper assembly of all parts. Over the next few months, our aim is to refine this prototype by improving the actuation system by using a linear actuator, metallizing 
      the prototype, and build a full digital twin of the exoskeleton to create the final exoskeleton to be used in the competition in 2024.
      Below is a concept video of our first prototype.
    </p>
  </div>

  <div style="margin-top: 20px; margin-bottom: 20px; text-align: center;">
    <iframe width="840" height="472.5" src="https://www.youtube.com/embed/iM_hKtbpbHA?si=iWOKQnnTotmlI6D6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="display: inline-block;"></iframe>
  </div>

</BaseLayout>




